.div_left{
    
background-color: antiquewhite;
  height: 25%;
  padding: 10px;
    width: 50%;
    position: relative;
  float: left
}
.div_right{
    
background-color: antiquewhite;
  height: 25%;
  padding: 10px;
    width: 50%;
    position: relative;
    float: right;
  
}
.table_seats{
    
background-color: gray;
  height: 100px;
  padding: 10px;
    width: 100px;
    position: relative;
    float: left;
    margin: 0.5%;
  
}
.div_large2{
    
background-color: blue;
  height: 50%;
    width: 100%;
  
    margin: 0.5%;
    
    position: relative;
   
   float: left
    
  
}
.div_large3{
    
background-color: yellow;
 height: 50%;
 
  width: 100%;
    position: absolute;
    float: left;
        
    margin-top: 125px;
    
  
}
.div_large4{
    
background-color: aqua;
  height: 10px;
  
    width: 40px;
    position: relative;
    float:  right;
    margin: 0.5%;
  
}
.div_large5{
    
background-color: gray;
  height: 250px;
  
    width: 250px;
    position: absolute;
    float:  left;
    margin: 0.5%;
    margin-left: 265px;
    
  
}

.label_right{
    

  height: 100px;
  padding: 10px;
    width: 100px;
    position: relative;
    float: right;
    margin: 0.5%;
  
}
.u_chair{
    

  height: 10px;

    width: 10px;
    position: absolute;
   margin-left: 20px;
margin-bottom: 2px;
    margin-top: 2px;
    background-color: green
  
}

.b_chair{
    

  height: 10px;

    width: 10px;
    position: absolute;
   margin-left: 20px;
    margin-top: 55px;
   margin-bottom: 2px;
    background-color: green
  
}



._table{
    

  height: 50px;
  
    width: 50px;
    position: absolute;
    float: left;
    
  background-color: yellow
}

._tablechaircont{
    
width: 50px;
    position:relative;

    background-color: black
  
}

.col{
  padding-left: 0%
}


