.overall{
    padding-top: 5%;
    padding-left: 10%;
    padding-right:10%
}
.padding{
    padding-top: 10px;
    
}
.background{
    min-height: 1024px;
    background-color: darkorange


}
.tabbg{
    background-color: silver
}
.fontcolor{
    color:blue
}
.vieworder{
    color:blue
}
.pos{
    
}
.addbutton{
    padding-left: 5px
}
.font{
    font-family: 'Times New Roman', Times, serif;
    color:black
}
.padd{
   padding-top: 5px
}
.paditems{
    padding-right: 5px;

}
