.App {
  text-align: center;
}
.items{
  padding-top: 10%;
  padding-left: 10%
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.app{
background-color: gray;

  background-attachment: fixed;
background-position: top;
background-repeat: repeat;
  background-size: cover;
padding-top: 0%;
padding-bottom: 0%;
  min-height: 768px;
  min-width:100%;

}
.ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:darkblue;
}
.li{
  float: left;
  display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.tab{
  padding-left: 100px;
}